<h1>Update Song</h1>

<form action="/songs/<%=@song.slug%>" method="POST">

  <label>Name:</label>

  <br></br>

  <input type="text" name="artist[name]" id="Artist Name" value="<%=@song.artist.name%>">

  <br></br>

  <label>Choose genres:</label>

  <br></br>

  <%Genre.all.each do |x|%>
    <input type="checkbox" name="genre[id][]" id="<%= x.name%>" value="<%=x.id%>"
    <%='checked' if @song.genres.include?(x)%>><%=x.name%></input>
  <%end%>

  <br></br>

  <input type="submit" value="Save">
</form>
